* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(img/header/header_7_5.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
/* 
@keyframes c_1 {
    0% {
        left: 65vw;
    }
    100% {
        left: -20vw;
    }
} */

@keyframes cloude {
    0% {
        left: 100vw;
    }
    100% {
        left: -20vw;
    }
}

@keyframes big_boah {
    0% {
        left: 100vw;
    }
    100% {
        left: -25vw;
    }
}

#stardew_logo {
    height: fit-content;
    width: fit-content;
    z-index: 2;
    position: absolute;
    left: 35vh;
}

.cloud_holder {
    width: fit-content;
}

#c_1 {
    position: absolute;
    top: 15vh;
    left: 100vw;
    width: 25%;
    animation:cloude 12s linear infinite;
}

#c_1_2 {
    position: absolute;
    top: 35vh;
    left: 100vw;
    width: 25%;
    animation:cloude 12s linear infinite;
    animation-delay: 5s;
}

#c_2 {
    position: absolute;
    top: 5vh;
    left: 100vw;
    width: 25%;
    animation:big_boah 15s linear infinite;
    animation-delay: 1s;
}

#c_3 {
    position: absolute;
    top: 80vh;
    left: 100vw;
    width: 25%;
    animation:cloude 20s linear infinite;
    animation-delay: 1.5s;
}

#c_4 {
    position: absolute;
    width: 25%;
    top: 60vh;
    left: 100vw;
    animation:big_boah 11s linear infinite;    
}

#c_4_2 {
    position: absolute;
    width: 25%;
    top: 50vh;
    left: 100vw;
    animation:big_boah 17s linear infinite;
    animation-delay: 3s;
}

#c_5 {
    position: absolute;
    width: 25%;
    top: 40vh;
    left: 100vw;
    animation:cloude 14s linear infinite;
    animation-delay: 2s;
}

#c_6 {
    position: absolute;
    width: 25%;
    top: 40vh;
    left: 100vw;
    animation:big_boah 12s linear infinite;
}

#c_7 {
    position: absolute;
    width: 25%;
    top: 70vh;
    left: 100vw;
    animation:cloude 14s linear infinite;
    animation-delay: 2s;
}

.navbar {
    display: inline;
}

nav {
    width: 50px;
    height: 50px;
    z-index: 2;
}

#nav_element_1, #nav_element_2, #nav_element_3, #nav_element_4 {
    width: 85%;
    height: 85%;
}

#nav_element_1 {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 75vh;
    left: 20.5vw;
}

#nav_element_2 {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 75vh;
    left: 34.5vw;
}

#nav_element_3 {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 75vh;
    left: 48.5vw;
}

#nav_element_4 {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 75vh;
    left: 62.5vw;
}

#nav_element_5 {
    position: absolute;
    height: fit-content;
    width: fit-content;
    left: 75.1vw;
    top: 85vh;
}

/* #nav_element_5 a {
    position: relative;
    height: fit-content;
    width: fit-content;
    left: -35.4vh;
    top: -20vh;
} */


#nav_element_6 {
    position: absolute;
    height: fit-content;
    width: fit-content;
    left: 75.5vw;
    top: 75.7vh;
}
