* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin align_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 8em;
    color: white;

    .parallax_wrapper {
        width: 1920px;
        height: 100vh;
        background-color: black;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        perspective: 450px;
        @include align_center()
    }

    .footer_navigation {
        background-color: gray;
        height: 100vh;
        z-index: 2;
        @include align_center()
    }
}