@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bahiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

::-webkit-scrollbar {
  width: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", cursive;
}

body {
  color: white;
  background-color: #00100b;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

body .nav {
  width: 100vw;
  height: 100vh;
  background-color: #00100b;
  position: relative;
  top: 100vh;
}

body .nav .title {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3vw;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

body .nav .cards {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav .cards .inbetween {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav .cards .inbetween .card {
  position: relative;
  width: 350px;
  height: 350px;
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

body .nav .cards .inbetween .card .subcard {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav .cards .inbetween .card .interact {
  background-color: greenyellow;
  -webkit-transform: all 0.5s ease;
          transform: all 0.5s ease;
  position: absolute;
  height: 50px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.45s;
          transition-duration: 0.45s;
}

body .nav .cards .inbetween .card .desc {
  position: absolute;
  background-color: tomato;
  height: 150px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: ease;
  transition: ease;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

body .nav .cards .inbetween .card .picture {
  position: absolute;
  height: 350px;
  background-color: grey;
}

body .nav .cards .card:hover {
  height: 550px;
}

body .nav .cards .card:hover .interact {
  -webkit-transform: translateY(500px);
          transform: translateY(500px);
}

body .nav .cards .card:hover .desc {
  -webkit-transform: translateY(350px);
          transform: translateY(350px);
}

body .parwrapper {
  margin: auto;
  max-width: 1920px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .parwrapper .parlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: top center;
  background-size: cover;
  width: 300%;
  height: 300vh;
  position: absolute;
  top: -95%;
  left: -42%;
  transition: width 1s, height 1s, top 1s, left 1s;
}

body .parwrapper .layer0 {
  z-index: 1;
  background-color: transparent;
}

body .parwrapper .layer1 {
  background-image: url("../img/bg_room/lay-1.png");
  z-index: 0;
}

body .parwrapper .layer2 {
  background-image: url("../img/bg_room/lay-2.png");
  z-index: -1;
}

body .parwrapper .layer3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 5vw;
  z-index: -2;
  background-image: url("../img/bg_room/lay-3.png");
}

body .parwrapper .layer4 {
  background-image: url("../img/bg_room/lay-4.png");
  z-index: -3;
}

body .parwrapper .layer5 {
  background-image: url("../img/bg_room/lay-5.png");
  z-index: -4;
}

body .parwrapper .layer6 {
  background-image: url("../img/bg_room/lay-6.png");
  z-index: -5;
}

body .parwrapper .layer7 {
  background-image: url("../img/bg_room/lay-7.png");
  z-index: -6;
}

body .parwrapper .layer8 {
  background-image: url("../img/bg_room/lay-8.png");
  z-index: 1;
}

#shadow {
  transition: opacity 1s ease-in, width 1s, height 1s, top 1s, left 1s;
}


@-webkit-keyframes snow_fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1920px 1080px;
  }
}

@keyframes snow_fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1920px 1080px;
  }
}

@media only screen and (max-width: 779px) {
  body .nav {
    height: 300vh;
  }
  body .nav .title {
    height: 5%;
    font-size: 4vw;
  }
  body .nav .cards {
    height: 95%;
  }
}

@media only screen and (min-width: 780px) and (max-width: 1169px) {
  body .nav {
    height: 200vh;
  }
  body .nav .title {
    height: 10%;
    font-size: 6vw;
  }
  body .nav .cards {
    height: 90%;
  }
}

@media only screen and (min-width: 1170px) and (max-width: 1559px) {
  body .nav {
    height: 180vh;
  }
  body .nav .title {
    height: 15%;
    font-size: 4vw;
  }
  body .nav .cards {
    height: 85%;
  }
}
/*# sourceMappingURL=style.css.map */
