@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bahiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

::-webkit-scrollbar {
  width: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", cursive;
}

body {
  color: white;
  background-color: #00100b;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;

  .nav {
    width: 100vw;
    height: 100vh;
    background-color: #000a0e;
    position: relative;
    top: 100vh;

    .title {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3vw;
      transition-property: all;
      transition-duration: 0.5s;
      transition: border-radious .01s;
    }
    
    .cards {
      width: 100%;
      height: 80%;
      display: flex;
      flex-wrap: wrap;
      transition-property: all;
      transition-duration: 0.5s;
      justify-content: space-around;
      align-items: center;

      .inbetween{
        height: 600px;
        display: flex;
        margin: 20px;
        align-items: center;

            .card {
            position: relative;
            width: 350px;
            height: 350px;
            transition: height .5s, transform .5s;

            .subcard{
                width: 350px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .interact{
                background-color: rgb(38, 59, 71);
                transform: all 0.5s linear;
                position: absolute;
                height: 50px;
                transition: transform .45s, width .5s;

                a {
                  color: rgb(132, 151, 167);
                  text-decoration: none;
                  font-weight: bold;
                  font-size: 20px;
                  font-family: "Roboto";
                  transition: font-size .19s, color .1s;
                }

                a:hover {
                  color: rgb(204, 240, 245);
                  font-size: 25px;
                }
            }

            .desc{
                position: absolute;
                background-color: rgb(39, 20, 37);
                height: 150px;
                transition: transform .35s, width .5s;

                p {
                  text-align: center;
                  font-family: "Roboto";
                }
            }

            .picture{
                position: absolute;
                height: 350px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: black;
                transition: width .5s, height .5s, filter .45s;
                filter: grayscale(100%) brightness(50%);
            }

            #undertale {
              background-image: url("../img/cards/undertale.jpeg");
              background-size: calc(1000px - 50%);
              background-position: -100px;

            }
            #unravel {
              background-image: url("../img/cards/unravel.jpeg");
              background-size: calc(700px + 10%);
              background-position: -200px;
            }
            #starDV {
              background-image: url("../img/cards/sdv.jpg");
              background-size: calc(400px + 30%);
              background-position-x: -75px;
              background-position-y: -60px;
            }
        }
    }

    .card:hover {
        height: 550px;
        transform: translateX(-25px);
    }

    .card:hover .picture {
      height: 400px;
      width: 400px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      filter: grayscale(0%);
    }

    .card:hover .interact{
        transform: translateY(550px);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 400px;
    }

    .card:hover .desc{
        transform: translateY(400px);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        width: 400px;
    }

    }
  }
  .parwrapper {
    margin: auto;
    max-width: 1920px;
    width: 100vw;
    display: flex;

    .parlayer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: top center;
      background-size: cover;
      width: 300%;
      height: 300vh;
      position: absolute;
      top: -95%;
      left: -42%;
      transition: width 1s, height 1s, top 1s, left 1s;
    }

    .layer0 {
      z-index: 1;
      background-color: transparent;
    }

    .layer1 {
      background-image: url("../img/bg_room/lay-1.png");
      z-index: 0;
    }
    .layer2 {
      background-image: url("../img/bg_room/lay-2.png");
      z-index: -1;
    }
    .layer3 {
      font-family: "Courier New", Courier, monospace;
      font-size: 5vw;
      z-index: -2;
      background-image: url("../img/bg_room/lay-3.png");
    }
    .layer4 {
      background-image: url("../img/bg_room/lay-4.png");
      z-index: -3;
    }
    .layer5 {
      background-image: url("../img/bg_room/lay-5.png");
      z-index: -4;

      #indie_g {
        font-size: 100px;
        opacity: 0%;
        transition: transform .5s, opacity .2s;
      }
    }
    .layer6 {
      background-image: url("../img/bg_room/lay-6.png");
      z-index: -5;

    }

    .layer7 {
      background-image: url("../img/bg_room/lay-7.png");
      z-index: -6;
    }

    .layer8 {
      background-image: url("../img/bg_room/lay-8.png");
      z-index: 1;
    }

    #shadow {
      transition: opacity 1s ease-in, width 1s, height 1s, top 1s, left 1s;
    }

    @keyframes snow_fall {
      0% {
        background-position: 0 0;
      }

      100% {
        background-position: 1920px 1080px;
      }
    }
  }
}

@media only screen and (max-width: 779px) {
    body{
        .nav{
            height: 300vh;

            .title{
                height: 5%;
                font-size: 4vw;
            }

            .cards{
                height: 95%;
            }
        }
    }
  }
  
  @media only screen and (min-width: 780px) and (max-width: 1169px) {
    body{
        .nav{
            height: 200vh;
            
            .title{
                height: 10%;
                font-size: 6vw;
            }

            .cards{
                height: 90%;
            }
        }
    }
  }
  
  @media only screen and (min-width: 1170px) and (max-width: 1559px){
     body{
        .nav{
            height: 180vh;

            .title{
                height: 15%;
                font-size: 4vw;
            }

            .cards{
                height: 85%;
            }
        }
    }
  }

  //IT IS WORKING RIGHT NOW