@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bahiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

::-webkit-scrollbar {
  width: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", cursive;
}

body {
  color: white;
  background-color: #158f67;
  overflow-x: hidden;
  width: 100%;

  .nav {
    width: 100vw;
    height: 100vh;
    background-color: #00100b;
    position: relative;
    top: 100vh;

    .title {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3vw;
      transition-property: all;
      transition-duration: 0.5s;
    }
    
    .cards {
      width: 100%;
      height: 80%;
      display: flex;
      flex-wrap: wrap;
      transition-property: all;
      transition-duration: 0.5s;
      justify-content: space-around;
      align-items: center;

      .inbetween{
        height: 550px;
        display: flex;
        margin: 20px;
        align-items: center;

            .card {
            position: relative;
            width: 350px;
            height: 350px;
            transition-property: height;
            transition-duration: 0.5s;

            .subcard{
                width: 350px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            .interact{
                background-color: greenyellow;
                transform: all 0.5s ease;
                position: absolute;
                height: 50px;
                transition-property: transform;
                transition-duration: 0.45s;
            }

            .desc{
                position: absolute;
                background-color: tomato;
                height: 150px;
                transition-property: transform;
                transition: ease;
                transition-duration: 0.35s;
            }

            .picture{
                position: absolute;
                height: 350px;
                background-color: grey;

            }
        }
    }

    .card:hover {
        height: 550px;
    }
    .card:hover .interact{
        transform: translateY(500px);
    }

    .card:hover .desc{
        transform: translateY(350px);
    }

    }
  }
  .parwrapper {
    margin: auto;
    max-width: 1920px;
    width: 100vw;
    display: flex;

    .parlayer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: top center;
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .layer0 {
      z-index: 1;
      background-color: transparent;
    }

    .layer1 {
      background-image: url("../img/background_1.2/layer_1.png");
      z-index: 0;
    }
    .layer2 {
      background-image: url("../img/background_1.2/layer_2.png");
      z-index: -1;
    }
    .layer3 {
      font-family: "Courier New", Courier, monospace;
      font-size: 5vw;
      z-index: -2;

      background-image: url("../img/background_1.2/layer_6.3.png");
      background-repeat: repeat;
      animation: snow_fall 75s 0.1s linear infinite;
    }
    .layer4 {
      background-image: url("../img/background_1.2/layer_4.png");
      z-index: -3;
    }
    .layer5 {
      background-image: url("../img/background_1.2/layer_5.png");
      z-index: -4;
    }
    .layer6 {
      background-image: url("../img/background_1.2/layer_6.4.png");
      z-index: -5;
      background-repeat: repeat;
      animation: snow_fall 150s 0.3s linear infinite;
    }

    .layer7 {
      background-image: url("../img/background_1.2/layer_7.png");
      z-index: -6;
    }

    @keyframes snow_fall {
      0% {
        background-position: 0 0;
      }

      100% {
        background-position: 1920px 1080px;
      }
    }
  }
}

@media only screen and (max-width: 779px) {
    body{
        .nav{
            height: 300vh;

            .title{
                height: 5%;
                font-size: 4vw;
            }

            .cards{
                height: 95%;
            }
        }
    }
  }
  
  @media only screen and (min-width: 780px) and (max-width: 1169px) {
    body{
        .nav{
            height: 200vh;
            
            .title{
                height: 10%;
                font-size: 6vw;
            }

            .cards{
                height: 90%;
            }
        }
    }
  }
  
  @media only screen and (min-width: 1170px) and (max-width: 1559px){
     body{
        .nav{
            height: 180vh;

            .title{
                height: 15%;
                font-size: 4vw;
            }

            .cards{
                height: 85%;
            }
        }
    }
  }

  //IT IS WORKING RIGHT NOW