@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bahiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

::-webkit-scrollbar {
  width: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", cursive;
}

body {
  color: white;
  background-color: #00100b;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

body .nav {
  width: 100vw;
  height: 100vh;
  background-color: #000a0e;
  position: relative;
  top: 100vh;
}

body .nav .title {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3vw;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition: border-radious .01s;
  transition: border-radious .01s;
}

body .nav .cards {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav .cards .inbetween {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav .cards .inbetween .card {
  position: relative;
  width: 350px;
  height: 350px;
  -webkit-transition: height .5s, -webkit-transform .5s;
  transition: height .5s, -webkit-transform .5s;
  transition: height .5s, transform .5s;
  transition: height .5s, transform .5s, -webkit-transform .5s;
}

body .nav .cards .inbetween .card .subcard {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body .nav .cards .inbetween .card .interact {
  background-color: #263b47;
  -webkit-transform: all 0.5s linear;
          transform: all 0.5s linear;
  position: absolute;
  height: 50px;
  -webkit-transition: width .5s, -webkit-transform .45s;
  transition: width .5s, -webkit-transform .45s;
  transition: transform .45s, width .5s;
  transition: transform .45s, width .5s, -webkit-transform .45s;
}

body .nav .cards .inbetween .card .interact a {
  color: #8497a7;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto";
  -webkit-transition: font-size .19s, color .1s;
  transition: font-size .19s, color .1s;
}

body .nav .cards .inbetween .card .interact a:hover {
  color: #ccf0f5;
  font-size: 25px;
}

body .nav .cards .inbetween .card .desc {
  position: absolute;
  background-color: #271425;
  height: 150px;
  -webkit-transition: width .5s, -webkit-transform .35s;
  transition: width .5s, -webkit-transform .35s;
  transition: transform .35s, width .5s;
  transition: transform .35s, width .5s, -webkit-transform .35s;
}

body .nav .cards .inbetween .card .desc p {
  text-align: center;
  font-family: "Roboto";
}

body .nav .cards .inbetween .card .picture {
  position: absolute;
  height: 350px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black;
  -webkit-transition: width .5s, height .5s, -webkit-filter .45s;
  transition: width .5s, height .5s, -webkit-filter .45s;
  transition: width .5s, height .5s, filter .45s;
  transition: width .5s, height .5s, filter .45s, -webkit-filter .45s;
  -webkit-filter: grayscale(100%) brightness(50%);
          filter: grayscale(100%) brightness(50%);
}

body .nav .cards .inbetween .card #undertale {
  background-image: url("../img/cards/undertale.jpeg");
  background-size: calc(1000px - 50%);
  background-position: -100px;
}

body .nav .cards .inbetween .card #unravel {
  background-image: url("../img/cards/unravel.jpeg");
  background-size: calc(700px + 10%);
  background-position: -200px;
}

body .nav .cards .inbetween .card #starDV {
  background-image: url("../img/cards/sdv.jpg");
  background-size: calc(400px + 30%);
  background-position-x: -75px;
  background-position-y: -60px;
}

body .nav .cards .card:hover {
  height: 550px;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}

body .nav .cards .card:hover .picture {
  height: 400px;
  width: 400px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

body .nav .cards .card:hover .interact {
  -webkit-transform: translateY(550px);
          transform: translateY(550px);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 400px;
}

body .nav .cards .card:hover .desc {
  -webkit-transform: translateY(400px);
          transform: translateY(400px);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 400px;
}

body .parwrapper {
  margin: auto;
  max-width: 1920px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .parwrapper .parlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: top center;
  background-size: cover;
  width: 300%;
  height: 300vh;
  position: absolute;
  top: -95%;
  left: -42%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}

body .parwrapper .layer0 {
  z-index: 1;
  background-color: transparent;
}

body .parwrapper .layer1 {
  background-image: url("../img/bg_room/lay-1.png");
  z-index: 0;
}

body .parwrapper .layer2 {
  background-image: url("../img/bg_room/lay-2.png");
  z-index: -1;
}

body .parwrapper .layer3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 5vw;
  z-index: -2;
  background-image: url("../img/bg_room/lay-3.png");
}

body .parwrapper .layer4 {
  background-image: url("../img/bg_room/lay-4.png");
  z-index: -3;
}

body .parwrapper .layer5 {
  background-image: url("../img/bg_room/lay-5.png");
  z-index: -4;
}

body .parwrapper .layer5 #indie_g {
  font-size: 100px;
  opacity: 0%;
  -webkit-transition: opacity .2s, -webkit-transform .5s;
  transition: opacity .2s, -webkit-transform .5s;
  transition: transform .5s, opacity .2s;
  transition: transform .5s, opacity .2s, -webkit-transform .5s;
}

body .parwrapper .layer6 {
  background-image: url("../img/bg_room/lay-6.png");
  z-index: -5;
}

body .parwrapper .layer7 {
  background-image: url("../img/bg_room/lay-7.png");
  z-index: -6;
}

body .parwrapper .layer8 {
  background-image: url("../img/bg_room/lay-8.png");
  z-index: 1;
}

body .parwrapper #shadow {
  -webkit-transition: opacity 1s ease-in, width 1s, height 1s, top 1s, left 1s;
  transition: opacity 1s ease-in, width 1s, height 1s, top 1s, left 1s;
}

@-webkit-keyframes snow_fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1920px 1080px;
  }
}

@keyframes snow_fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1920px 1080px;
  }
}

@media only screen and (max-width: 779px) {
  body .nav {
    height: 300vh;
  }
  body .nav .title {
    height: 5%;
    font-size: 4vw;
  }
  body .nav .cards {
    height: 95%;
  }
}

@media only screen and (min-width: 780px) and (max-width: 1169px) {
  body .nav {
    height: 200vh;
  }
  body .nav .title {
    height: 10%;
    font-size: 6vw;
  }
  body .nav .cards {
    height: 90%;
  }
}

@media only screen and (min-width: 1170px) and (max-width: 1559px) {
  body .nav {
    height: 180vh;
  }
  body .nav .title {
    height: 15%;
    font-size: 4vw;
  }
  body .nav .cards {
    height: 85%;
  }
}
/*# sourceMappingURL=style.css.map */